header {
    background-color:#fff;

}
body {
  margin: 0;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-menu > li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-menu li:hover {
    color: #ff0000;

  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-menu {
    display: block;}
   /* flex styles */
   /* .flex-container {
     display: inline-flex;
     flex-direction: row;
   } */
   .row {
    display: inline-flex;
    margin-right: -15px;
    margin-left: -15px;
} 
.cover img {
  width: 100%;
  height: auto;
  object-fit:fill;
}
footer {
  background-color: #0000ff;
  color: #fff;
}